<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase2ev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Firebase2EV"
        android:theme="@style/Theme.Firebase2EV">

        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.Firebase2EV"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="Register"
            android:parentActivityName=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".DashboardActivity"
            android:label="Dashboard"
            android:exported="false" />

    </application>

</manifest>
